body{
    background-color: black;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10%;
}
.title{
    margin: 0;
    color: white;
}

.movies-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 10px;
}

.movies-container > p, .total{
    font-size: larger;
    font-weight: bold;
    color: #DA1212;
}

.screen{
    background-color: rgba(218, 211, 211, 0.245);
    height: 50px;
    width: 210px;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 94.5% 100%, 5% 100%);

}

.seats{
    display: flex;
    width: 210px;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    gap: 5px;
    cursor: pointer;
    
}

.special{
    margin-right: 5px;
}
.free-seat{
    height: 15px;
    background-color: white;
    width: 15px;
    border-radius: 10px 10px 0px 0px;
}

.clicked{
    background-color: #DA1212;
}

