body{
    background-color: #c4bedf;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5rem;
}
.main-container{
    width: 40%;
    margin: auto;
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 5px 0px 5px rgba(176, 174, 174, 0.454);
}
.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form > input{
    border-radius: 5px;
    border-color: transparent;

}

#task-input{
    border-color: rgba(199, 183, 183, 0.402);
    margin-bottom: 5px;
    height: 30px;
}

#submit-btn{
    cursor: pointer;
    background-color: #493D9E;
    color: white;
    height: 35px;
    font-size:medium;
}

.toDo > ul{
    padding: 0%;
}

.toDo > ul > li{
    list-style: none;
    margin-bottom: 15px;
}

.task-icon{ 
    height: 30px;
    cursor: pointer;
}

.task-li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.task-li  > p{
    flex-grow: 3;
    margin: 0;
}